@charset "UTF-8";

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* */
}

nav {
    height:50px;
    display: flex;
    gap: 7%;
    justify-content: center;
    align-items: center;
    border-bottom:0.5px solid #c1c1c1;
}

nav > a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 12px;
    font-weight: 400;

}

.logo-apple {
    width: 20px;

}

.caixa-azul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin:0 100px ;
    
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.descricao {
    font-size: 15px;
}

.preco {
    font-size: 20px;
    color:#626262;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 25px;
}

.botao {
    width: 120px;
    padding: 10px 20px;
    background-color: #0071e3;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
    cursor: pointer;

}

.escolha-cor {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: bolder;
    margin-bottom: 15px;
}

.troca-cor {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.azul {
    
    background-color: #81a5c4;
}
.amarelo {
    
    background-color: #f7da47;
}
.branco {
    
    background-color: #c1c1c1;

}
.preto {
    
    background-color: #272d33;

}
.vermelho {
    
    background-color: #b50012;
}
.roxo {
    
    background-color: #9581c4;
}

.iphone {
    width: 350px;
    margin-top: 100px;
    z-index: 99;
}

.circulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background:#81a5c4;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(700px at right 900px);
}


@media (max-width: 1065px) {

    nav {
        height:50px;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border-bottom:0.5px solid #c1c1c1;
    }
    
   

    .circulo {
        clip-path: circle(150px at right 600px);
    }

    .iphone {
        width: 150px;
        margin-top: 100px;
        z-index: 99;
    }

    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .descricao {
        font-size: 10px;
    }
    
    .preco {
        font-size: 10px;
        color:#626262;
        font-weight: lighter;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .botao {
        width: 90px;
        padding: 10px 20px;
        background-color: #0071e3;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 50px;
        cursor: pointer;
    
    }
    
    .escolha-cor {
        font-size: 10px;
        color: #3a3a3a;
        font-weight: bolder;
        margin-bottom: 15px;
    }
    
    .troca-cor {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
    
}